@model Plannit.Models.ViewModels.ScenarioFormViewModel
@{
    ViewData["Title"] = "Edit Scenario";
}

<div class="page-header">
    <h1>Edit Scenario</h1>
</div>

<partial name="_ScenarioForm" model="Model" />
